body{
	background: #ffffff;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}
.nav{
	background:#455A64;
	margin-bottom: 0;
	height: 50px;
	
}
.banner{
	background: #607D8B;
	margin-top: 0;
	padding: 60px;
	text-align: center;
	color: #ffffff;
	
}


h1{
	margin: 0;
}

h3{
Margin: 5px;
	color:#727272;
}

.forms {
	text-align: center;
	padding: 5px;
}


.forms label{
	display: block;	
}

td{
	text-align: center;
}
.secs{
	width:50px;
	margin-right: 20px;
	height: 30px;
}
input{
	width: 80%;
	height: 80%;
	border: none;
	box-shadow: 1px 1px 1px #888888;
	background: #B6B6B6;
	text-align: center;
	color: #ffffff;
}


button{
	margin: 10px;
	background: #FFC107;
	color: #ffffff;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  font-size: 0.9em;
  text-align: center;
	box-shadow: 0.5px 0.5px 0.5px #888888;
}

tr{
	height: 50px	
}
.user{
	border-style: solid;
	border-width: 3px;
}

.colHead{
	border-style: solid;
	border-width: 1px;
	width: 10%;
	text-align: center;
	margin: 25px;
	background: #CFD8DC;
}