body{
	background: #ffffff;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}

.nav{
	background:#455A64;
	margin-bottom: 0;
	height: 50px;
	
}
.banner{
	background: #607D8B;
	margin-top: 0;
	padding: 60px;
	text-align: center;
	color: #ffffff;
	
}


h1{
	margin: 0;
}

h3{
Margin: 5px;
	color:#727272;
}

select{
	border-style: solid;
	border-color: #CFD8DC;
   	background: transparent;
		font-weight: bold;
		margin: 1em;	
		height: 40px;
		width: 80px;
		padding: 0.5em;
}	


select:hover
{
	box-shadow: 4px 4px 5px #808080;;
 }

.calc{
	background: #FFC107;
	padding: 0.5em;
	 width: 260px;
  height: 60px;
  line-height: 32px;
  border-radius: 0.5em;
}
.blk{
	display: block;
		
}

.forms {
	position:relative;
	text-align: center;
	padding: 5px;
}




.forms label{
	display: block;	
	margin: 0.5em;
}

td{
	text-align: center;
}
.secs{
	width:50px;
	margin-right: 20px;
	height: 30px;
}
input{
	width: 80%;
	height: 80%;
	border: none;
	box-shadow: 1px 1px 1px #888888;
	background: #CFD8DC;
	text-align: center;
	color: #ffffff;
}


button{

	border-style: solid;
	border-color: #CFD8DC;
	margin: 1em;;
	background: #FFFFFF;
	color: #000000;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 50px;
  line-height: 32px;
  font-size: 0.9em;
  text-align: center;
	font-weight: bold;
}

button:hover
{
	box-shadow: 4px 4px 5px #808080;;
 }

tr{
	height: 50px;
	border-width: 3px;
}
.user{
	border-style: solid;
	border-width: 3px;
	border-color: #b6b6b6;
}

.colHead{
	border-style: solid;
	border-width: 1px;
	width: 10%;
	text-align: center;
	margin: 25px;
	
	background: #CFD8DC;
}

td{
	border-style: solid;	
	border-width: 1px;
	border-color: #b6b6b6;
}
input:hover
{
  z-index:999;
	box-shadow: 4px 4px 5px #808080;
 }
